Microsoft.Flow/flows/c20c16f7-a33b-4abd-8662-0f98dfd74453/definition.json
{"name":"4ff95696-f2e8-40a9-889c-660cef42f616","id":"/providers/Microsoft.Flow/flows/4ff95696-f2e8-40a9-889c-660cef42f616","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Loan-Flow","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"ca922f24-af7e-43f6-9844-5e86a03d9b57","type":"User","tenantId":"0a9788cc-0df2-45b2-857e-e6c3fa127f1d"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-07-21T09:16:18.6163251Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_created":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"76645820-80dc-483b-8c76-fef62651c2e9"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewItems"},"parameters":{"dataset":"https://spb5107.sharepoint.com/sites/BankingApp","table":"0e6eea7f-f6fe-4586-8854-ec5b83fb271e"},"authentication":"@parameters('$authentication')"}}},"actions":{"Start_and_wait_for_an_approval":{"runAfter":{},"metadata":{"operationMetadataId":"062a7dd5-0318-4f3a-89d7-ae3cc680a154"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Document Verification for Loan Application","WebhookApprovalCreationInput/assignedTo":"rutuj@spb5107.onmicrosoft.com;","WebhookApprovalCreationInput/itemLink":"@triggerOutputs()?['body/{Link}']","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Update_item_for_1-Stage_Document_Verification":{"runAfter":{},"metadata":{"operationMetadataId":"b52b104f-c7c7-4f5f-8342-7284a49b80a8"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://spb5107.sharepoint.com/sites/BankingApp","table":"0e6eea7f-f6fe-4586-8854-ec5b83fb271e","id":"@triggerOutputs()?['body/ID']","item/Title":"@triggerOutputs()?['body/Title']","item/Name":"Rutuj Gopale","item/LaonAmount":"@triggerOutputs()?['body/LaonAmount']","item/FirstInstallmentDate":"@triggerOutputs()?['body/FirstInstallmentDate']","item/No_x002e_ofMonthlyInstallment":"@triggerOutputs()?['body/No_x002e_ofMonthlyInstallment']","item/AmountofEachInstallment":"@triggerOutputs()?['body/AmountofEachInstallment']","item/Date":"@triggerOutputs()?['body/Date']","item/InterestRate":"10 %","item/Repayableamount":"@triggerOutputs()?['body/Repayableamount']","item/TotalInterest":"@triggerOutputs()?['body/TotalInterest']","item/LoanType/Value":"@triggerOutputs()?['body/LoanType/Value']","item/Status/Value":"Information Verified","item/Status_x002d_2/Value":"Pending Branch Manager Approval"},"authentication":"@parameters('$authentication')"}},"Start_and_wait_for_an_approval_2_-_Manager_":{"runAfter":{"Send_an_email_(V2)_4":["Succeeded"]},"metadata":{"operationMetadataId":"ec41ec80-b57e-41a1-8e00-c9efc931285a"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Brach Manager - Final Loan Verification ","WebhookApprovalCreationInput/assignedTo":"rutuj@spb5107.onmicrosoft.com;","WebhookApprovalCreationInput/itemLink":"@outputs('Start_and_wait_for_an_approval')?['body/itemLink']","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Condition_2":{"actions":{"Update_item_-_manager_done":{"runAfter":{},"metadata":{"operationMetadataId":"54221c90-aa52-42da-9f67-04bfbe82094e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://spb5107.sharepoint.com/sites/BankingApp","table":"0e6eea7f-f6fe-4586-8854-ec5b83fb271e","id":"@outputs('Update_item_for_1-Stage_Document_Verification')?['body/ID']","item/Title":"@outputs('Update_item_for_1-Stage_Document_Verification')?['body/Title']","item/Name":"Rutuj Gopale","item/LaonAmount":"@triggerOutputs()?['body/LaonAmount']","item/FirstInstallmentDate":"@triggerOutputs()?['body/FirstInstallmentDate']","item/No_x002e_ofMonthlyInstallment":"@triggerOutputs()?['body/No_x002e_ofMonthlyInstallment']","item/AmountofEachInstallment":"@triggerOutputs()?['body/AmountofEachInstallment']","item/Date":"@outputs('Update_item_for_1-Stage_Document_Verification')?['body/Date']","item/InterestRate":"10 %","item/Repayableamount":"@outputs('Update_item_for_1-Stage_Document_Verification')?['body/Repayableamount']","item/TotalInterest":"@outputs('Update_item_for_1-Stage_Document_Verification')?['body/TotalInterest']","item/LoanType/Value":"@outputs('Update_item_for_1-Stage_Document_Verification')?['body/LoanType/Value']","item/Status/Value":"Information Verified","item/Status_x002d_2/Value":"Approved By Branch Manager"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_3":{"runAfter":{"Update_item_-_manager_done":["Succeeded"]},"metadata":{"operationMetadataId":"4fc24735-c852-49c5-a165-9975c8c037fa"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"rutuj@spb5107.onmicrosoft.com","emailMessage/Subject":"Congratulations! Your Loan Application Has Been Approved","emailMessage/Body":"<p>Dear @{outputs('Update_item_-_manager_done')?['body/Name']},<br>\n<br>\nWe are happy to inform you that your loan application has been approved by our esteemed branch manager. Congratulations! We recognize the effort you have put into completing the application process, and we are pleased to be able to support your financial needs.<br>\nOur branch manager has carefully reviewed your application, taking into consideration your credit history, financial stability, and loan eligibility criteria. Based on their evaluation, they have determined that you meet our lending guidelines and requirements, making you eligible for the loan you applied for.<br>\nPlease note that further steps will be required to finalize the loan process. Our loan specialist, Mr./Ms.XYZ will be in touch with you shortly to discuss the next course of action. They will provide you with all the necessary information, including the terms and conditions, repayment schedule, and any additional documentation required.<br>\n<strong>Loan Details:-<br>\n<br>\nLoan Amount: </strong><strong>@{outputs('Update_item_-_manager_done')?['body/LaonAmount']}</strong><strong><br>\nTotal Repayable Amount:</strong><strong>@{outputs('Update_item_-_manager_done')?['body/Repayableamount']}</strong><strong><br>\nNumber of Installments: </strong><strong>@{outputs('Update_item_-_manager_done')?['body/No_x002e_ofMonthlyInstallment']}</strong><strong><br>\nAmount of Each Installment:</strong><strong>@{outputs('Update_item_-_manager_done')?['body/AmountofEachInstallment']}</strong><strong><br>\n<br>\n</strong>Thank you for considering our institution for your financial needs, and we wish you the best of luck in your future endeavors.<br>\n<br>\nSincerely,<br>\nXYZ</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Start_and_wait_for_an_approval_2_-_Manager_":["Succeeded"]},"else":{"actions":{"Update_item_-_manager_declined":{"runAfter":{},"metadata":{"operationMetadataId":"54221c90-aa52-42da-9f67-04bfbe82094e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://spb5107.sharepoint.com/sites/BankingApp","table":"0e6eea7f-f6fe-4586-8854-ec5b83fb271e","id":"@outputs('Update_item_for_1-Stage_Document_Verification')?['body/ID']","item/Title":"@outputs('Update_item_for_1-Stage_Document_Verification')?['body/Title']","item/Name":"Rutuj Gopale","item/LaonAmount":"@triggerOutputs()?['body/LaonAmount']","item/FirstInstallmentDate":"@triggerOutputs()?['body/FirstInstallmentDate']","item/No_x002e_ofMonthlyInstallment":"@triggerOutputs()?['body/No_x002e_ofMonthlyInstallment']","item/AmountofEachInstallment":"@triggerOutputs()?['body/AmountofEachInstallment']","item/Date":"@outputs('Update_item_for_1-Stage_Document_Verification')?['body/Date']","item/InterestRate":"10 %","item/Repayableamount":"@outputs('Update_item_for_1-Stage_Document_Verification')?['body/Repayableamount']","item/TotalInterest":"@outputs('Update_item_for_1-Stage_Document_Verification')?['body/TotalInterest']","item/LoanType/Value":"@outputs('Update_item_for_1-Stage_Document_Verification')?['body/LoanType/Value']","item/Status/Value":"Information Verified","item/Status_x002d_2/Value":"Declined By Branch Manager"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_2":{"runAfter":{"Update_item_-_manager_declined":["Succeeded"]},"metadata":{"operationMetadataId":"f07539c4-f2ed-41a0-8165-bcf7042ae2f0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"rutuj@spb5107.onmicrosoft.com","emailMessage/Subject":"Important Notice: Loan Application Declined by Branch Manager","emailMessage/Body":"<p>Dear @{outputs('Update_item_-_manager_declined')?['body/Name']},<br>\n<br>\nWe regret to inform you that your loan application has been declined by our branch manager after careful consideration and review.<br>\nOur branch manager has thoroughly evaluated your application and accompanying documentation, taking into account various factors such as credit history, financial stability, and loan eligibility criteria. Based on the available information, it has been determined that your application does not meet our current lending guidelines and requirements.<br>\nMr./Ms. XYZ will be available to address any questions you may have and offer support during this process. They possess extensive knowledge and experience in the lending field and can provide valuable advice to help you understand the decision and explore alternative financial solutions.<br>\nWe apologize for any inconvenience caused by this outcome. We genuinely appreciate your interest in our services and your time invested in the application process. Should you require any further assistance or have any questions, please do not hesitate to contact our customer support team at 24234534543 or .abx/2gmail.com. &nbsp;Our team is available to assist you during regular business hours and will be more than happy to address any concerns you may have.<br>\n<br>\nThank you for considering our institution for your financial needs, and we wish you the best of luck in your future endeavors.<br>\n<br>\nSincerely,<br>\nXYZ</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval_2_-_Manager_')?['body/outcome']","Approve"]},"metadata":{"operationMetadataId":"6b278dcb-43d4-4ca2-936f-6c6f7d0375eb"},"type":"If"},"Send_an_email_(V2)_4":{"runAfter":{"Update_item_for_1-Stage_Document_Verification":["Succeeded"]},"metadata":{"operationMetadataId":"eea94a9a-e88c-45ba-8f3a-778c4b1e8eb9"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"rutuj@spb5107.onmicrosoft.com","emailMessage/Subject":"Update: Successful Completion of 1st Stage Document Verification for Loan Approval","emailMessage/Body":"<p>Dear @{outputs('Update_item_for_1-Stage_Document_Verification')?['body/Name']},<br>\n We are delighted to inform you that the first stage of document verification for your loan application has been successfully completed. We are impressed with the accuracy and completeness of the information you have provided, and we are pleased to proceed to the next steps of the loan approval process.<br>\n<br>\nShould you have any inquiries or need clarification at any point during the loan approval process, please feel free to reach out to our dedicated loan specialist, Mr./Ms. XYZ. They are well-versed in the process and will be more than happy to assist you.<br>\n<br>\n<strong>Contact Information:<br>\nName: XYZ<br>\nPosition: Loan Specialist<br>\nPhone: XYZ<br>\nEmail: XYZ<br>\n</strong><br>\nCongratulations again on successfully completing the first stage of document verification. We look forward to continuing this journey with you and assisting you in realizing your financial objectives.<br>\n<br>\nBest regards,<br>\nXYZ<br>\n</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"else":{"actions":{"Update_item_for_1-Stage_Document_Verification_2":{"runAfter":{},"metadata":{"operationMetadataId":"b52b104f-c7c7-4f5f-8342-7284a49b80a8"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://spb5107.sharepoint.com/sites/BankingApp","table":"0e6eea7f-f6fe-4586-8854-ec5b83fb271e","id":"@triggerOutputs()?['body/ID']","item/Title":"@triggerOutputs()?['body/Title']","item/Name":"Rutuj Gopale","item/LaonAmount":"@triggerOutputs()?['body/LaonAmount']","item/FirstInstallmentDate":"@triggerOutputs()?['body/FirstInstallmentDate']","item/No_x002e_ofMonthlyInstallment":2,"item/AmountofEachInstallment":"@triggerOutputs()?['body/AmountofEachInstallment']","item/Date":"@triggerOutputs()?['body/Date']","item/InterestRate":"10 %","item/Repayableamount":"@triggerOutputs()?['body/Repayableamount']","item/TotalInterest":"@triggerOutputs()?['body/TotalInterest']","item/LoanType/Value":"@triggerOutputs()?['body/LoanType/Value']","item/Status/Value":"Declined","item/Status_x002d_2/Value":"Declined"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Update_item_for_1-Stage_Document_Verification_2":["Succeeded"]},"metadata":{"operationMetadataId":"355b6055-71da-4de3-8db9-3a781fd6cc76"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"rutuj@spb5107.onmicrosoft.com","emailMessage/Subject":" Important Notice: Document Verification Failed for Loan Application","emailMessage/Body":"<p>Dear @{outputs('Update_item_for_1-Stage_Document_Verification_2')?['body/Name']},<br>\n<br>\n We are writing to inform you about a recent development regarding your loan application. Upon careful review and verification of the submitted documents, we regret to inform you that the process could not be completed successfully due to the presence of invalid information.<br>\nTo resolve this matter and provide further clarification, we kindly request you to get in touch with our dedicated loan verification specialist, <strong>Mr./Ms. XYZ</strong>. They will be able to assist you in addressing the issue and guiding you through the necessary steps to rectify any inaccuracies in the provided information.<br>\n<br>\nContact Information:<br>\nName: XYZ<br>\nPosition: Loan Verification Specialist<br>\nPhone: XYZ<br>\nEmail: XYZ<br>\n<br>\nWe appreciate your patience and look forward to assisting you in securing the loan you require.<br>\n<br>\nBest regards,<br>\nXYZ</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval')?['body/outcome']","Approve"]},"metadata":{"operationMetadataId":"8b3dbb58-c46d-46c5-acc1-01163913c676"},"type":"If"}}},"connectionReferences":{"shared_approvals":{"connectionName":"shared-approvals-5dd0b6d0-1146-4670-b41c-e3c96b14b2a8","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"},"shared_sharepointonline":{"connectionName":"0a33255a9cd546fd9234b4e19fa7d3da","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-9ff5c81a-c446-4116-ab85-ae3d3aee764e","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}